<?xml version="1.0"?>
<robot name="euclid" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:macro name="dummy_link" params="name">
    <link name="ned_link">
            <inertial>
                <mass value="0" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="0.00000" ixy="0.0" ixz="0.0"
                    iyy="0.0" iyz="0.0"
                    izz="0.0"/>
            </inertial>
    </link>
  </xacro:macro>
</robot>
